.navbar {
  display: flex;
  text-align: center;
  border-bottom: 0.2rem solid black;
}

.navbar .item {
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
}

.active {
  background-color: black;
  color: white;
}
